# Dependencies
node_modules/
allure-report/
allure-results/
# Playwright
test-results/
playwright-report/
playwright/.auth/
blob-report/
.playwright/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
